@import "../../styles/variables";

.container {
    width: 100vw;
    height: 110px;
    place-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 40px;
        padding: 0;
        gap: 20px;
    }
}

.redirection-text{
    font-weight: 600;
}