.text {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, #6334b5, #174ab7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //font-family: 'Copse', 'Courier New', Helvetica, sans-serif;
    cursor: pointer;
}