.form {
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30px; */
}

.button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    margin-left: 10px;
    border-radius: 5px;
    border: none;

    &__image {
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 0;
        border-radius: 5px;
    }

    &:hover {
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.15s ease;
        border-width: 0.5px;
        border-style: solid;
        border-color: aqua;
    }
}